{% assign section_width = section.settings.section_width %}
{% assign section_height = section.settings.section_height %}
{% assign section_radius = section.settings.section_radius %}
{% assign section_border_type = section.settings.section_border_type %}
{% assign section_border_color = section.settings.section_border_color %}
{% assign section_border_width = section.settings.section_border_width %}

{% assign video = section.settings.video %}
{% assign video_radius = section.settings.video_radius %}

{% assign heading_content = section.settings.heading_content %}
{% assign heading_size = section.settings.heading_size %}
{% assign heading_weight = section.settings.heading_weight %}
{% assign heading_color = section.settings.heading_color %}
{% assign heading_mt = section.settings.heading_mt %}
{% assign heading_mb = section.settings.heading_mb %}

{% assign btn_width = section.settings.btn_width %}
{% assign btn_mt = section.settings.btn_mt %}
{% assign btn_mb = section.settings.btn_mb %}
{% assign btn_text = section.settings.btn_text %}
{% assign btn_text_size = section.settings.btn_text_size %}
{% assign btn_text_weight = section.settings.btn_text_weight %}
{% assign btn_text_color = section.settings.btn_text_color %}
{% assign btn_pl = section.settings.btn_pl %}
{% assign btn_pr = section.settings.btn_pr %}
{% assign btn_radius = section.settings.btn_radius %}
{% assign btn_backg = section.settings.btn_backg %}
{% assign btn_border_type = section.settings.btn_border_type %}
{% assign btn_border_color = section.settings.btn_border_color %}
{% assign btn_border_width = section.settings.btn_border_width %}
<style>
    .peakconvertion-fixed-video-{{section.id}} {
        position: fixed;
        z-index: 2;
    }

    .peakconvertion-fixed-video-{{section.id}}.video-hide {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    .peakconvertion-fixed-video-wrapper-{{section.id}} {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-wrapper-{{section.id}}:hover {
        transition: all 0.25s ease 0s;
        transform: scale(103%);
    }

    .peakconvertion-fixed-video-inner-{{section.id}} {
        width: 150px;
        height: 150px;
        border-radius: {{ section_radius }}px;
        border: {{ section_border_width }}px {{ section_border_type }} {{ section_border_color }};
        position: relative;
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-{{section.id}}.active .peakconvertion-fixed-video-inner-{{section.id}} {
        width: 350px;
        height: 600px;
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-inner-{{section.id}}:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
    }

    .peakconvertion-fixed-video-{{section.id}}.active .peakconvertion-fixed-video-inner-{{section.id}}:after {
        display: none;
    }

    .peakconvertion-fixed-video-inner-{{section.id}} iframe,
    .peakconvertion-fixed-video-inner-{{section.id}} video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0px;
        box-shadow: none;
        border-radius: {{ section_radius }}px;
        position: relative;
    }

    .peakconvertion-fixed-video-frame-{{section.id}} {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .peakconvertion-fixed-video-close-wrapper-{{section.id}} {
        position: absolute;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        top: -11px;
        right: -11px;
    }

    .peakconvertion-fixed-video-close-{{section.id}} {
        font-size: 13px;
        transition: all .7s;
        box-shadow: 0 2px 4px #0003;
        z-index: 2;
        width: 22px;
        height: 22px;
        color: #353535;
        cursor: pointer;
        transform-origin: 50%;
        background: #2f3137;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }

    .peakconvertion-fixed-video-close-{{section.id}} svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
    }

    .peakconvertion-fixed-video-btn-wrapper-{{section.id}} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-btn-wrapper-{{section.id}}.active {
        opacity: 1;
        pointer-events: all;
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-btn-{{section.id}} {
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        -moz-background-clip: border;
        -webkit-background-clip: border;
        background-clip: border-box;

        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;

        -moz-background-clip: content;
        -webkit-background-clip: content;
        background-clip: content-box;

        width: 60px;
        height: 60px;

        background-color: #ffffff;
    }

    .peakconvertion-fixed-video-btn-{{section.id}}:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #000000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .peakconvertion-fixed-video-btn-{{section.id}} img,
    .peakconvertion-fixed-video-btn-{{section.id}} svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .peakconvertion-fixed-video-video-{{section.id}} {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .peakconvertion-fixed-video-content-{{section.id}} {
        display: none;
        position: absolute;
        margin: 0 auto;
        left: 0;
        bottom: 45px;
        z-index: 2;
        width: 100%;
        padding: 0px 18px;
    }

    .peakconvertion-fixed-video-{{section.id}}.active .peakconvertion-fixed-video-content-{{section.id}} {
        display: block;
    }

    .peakconvertion-fixed-video-heading-{{section.id}} {
        margin: {{ heading_mt }}px 0 {{ heading_mb }}px 0;
        font-size: {{ heading_size }}px;
        color: {{ heading_color }};
        line-height: 130%;
        text-transform: unset;
        text-align: center;
        font-weight: {{ heading_weight }};
    }

    .peakconvertion-fixed-video-button-{{section.id}} {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: {{ btn_width }}%;
        margin: 0 auto;
        margin-top: {{ btn_mt }}px;
        margin-bottom: {{ btn_mb }}px;
        font-size: {{ btn_text_size }}px;
        font-weight: {{ btn_text_weight }};
        color: {{ btn_text_color }};
        background:{{ btn_backg}};
        line-height: 100%;
        text-align: center;
        text-transform: unset;
        text-decoration: none;
        padding: 15px {{ btn_pl }}px 15px {{ btn_pr }}px;
        border-radius: {{ btn_radius }}px;
        border: {{ btn_border_width }}px {{ btn_border_type }} {{ btn_border_color }};
        transition: all 0.25s ease 0s;
    }

    .peakconvertion-fixed-video-button-{{section.id}}:hover {
        transition: all 0.25s ease 0s;
        border: {{ btn_border_width }}px {{ btn_border_type }} {{ btn_border_color }};
        color: #ffffff;
    }

    .peakconvertion-fixed-video-button-{{section.id}} {
        margin-left: 0px;
        margin-right: 0px;
    }

    .peakconvertion-fixed-video-video-{{section.id}}:after,
    .peakconvertion-fixed-video-frame-{{section.id}}:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }

    @media(min-width: 1024px) {
        .peakconvertion-fixed-video-inner-{{section.id}} {
            width: {{ section_width }}px;
            height: {{ section_height }}px;
        }

        .peakconvertion-fixed-video-{{section.id}}.active .peakconvertion-fixed-video-inner-{{section.id}} {
            width: 350px;
            height: 600px;
        }

        .peakconvertion-fixed-video-content-{{section.id}} {
            padding: 0px 24px;
            bottom: 60px;
        }

        .peakconvertion-fixed-video-heading-{{section.id}} {
            font-size: 20px;
        }

        .peakconvertion-fixed-video-button-{{section.id}} {
            margin-top: 16px;
            padding: 20px 16px;
            font-size: 16px;
        }
    }

    @media(max-width: 415px) {
        .peakconvertion-fixed-video-close-wrapper-{{section.id}} {
            top: 2px;
            right: 2px;
        }

        .peakconvertion-fixed-video-content-{{section.id}} {
            width: 97%;
        }

        .peakconvertion-fixed-video-inner-{{section.id}} {
            width: 100px;
            height: 100px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.356);
            border-radius: 100%;

        }

        #peakconvertion-video-content {
            border-radius: 100%;
        }

        #peakconvertion-video-content.active {
            border-radius: 8px;
        }

    }

    .peakconvertion-fixed-video-{{section.id}} {
        left: 15px;
        bottom: 15px;
    }

    @media(min-width: 1024px) {
        .peakconvertion-fixed-video-{{section.id}} {
            left: 20px;
            bottom: 20px;
        }
    }
</style>

<div class="peakconvertion-fixed-video-{{section.id}}">
  <div class="peakconvertion-fixed-video-wrapper-{{section.id}}">
    <div
      class="peakconvertion-fixed-video-inner-{{section.id}}"
    >
      <div
        class="peakconvertion-fixed-video-close-wrapper-{{section.id}}"
      >
        <div
          class="peakconvertion-fixed-video-close-{{section.id}}"
        >
          <svg
            style="width: 10px !important; height: 10px !important;"
            width="11"
            height="10"
            viewBox="0 0 14 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M13.0547 12.5938C12.8203 12.8281 12.3906 12.8281 12.1562 12.5938L7 7.39844L1.80469 12.5938C1.57031 12.8281 1.14062 12.8281 0.90625 12.5938C0.671875 12.3594 0.671875 11.9297 0.90625 11.6953L6.10156 6.5L0.90625 1.34375C0.671875 1.10938 0.671875 0.679688 0.90625 0.445312C1.14062 0.210938 1.57031 0.210938 1.80469 0.445312L7 5.64062L12.1562 0.445312C12.3906 0.210938 12.8203 0.210938 13.0547 0.445312C13.2891 0.679688 13.2891 1.10938 13.0547 1.34375L7.85938 6.5L13.0547 11.6953C13.2891 11.9297 13.2891 12.3594 13.0547 12.5938Z"
                fill="white"></path>
          </svg>
        </div>
      </div>
      <div
        class="peakconvertion-fixed-video-content-{{section.id}}"
      >
        <p
          class="peakconvertion-fixed-video-heading-{{section.id}}"
        >
          {{ heading_content }}
        </p>
        {% if btn_text != blank %}
          <a
            href=""
            class="peakconvertion-fixed-video-button-{{section.id}}"
          >
            {{ btn_text }}
          </a>
        {% endif %}
      </div>
      <div
        class="peakconvertion-fixed-video-btn-element peakconvertion-fixed-video-btn-wrapper-{{section.id}}"
      >
        <div
          id="peakconvertion-fixed-btn-first"
          class="peakconvertion-fixed-video-btn-{{section.id}}"
        >
          <svg
            fill="#ffffff"
            version="1.1"
            id="Capa_1"
            width="800px"
            height="800px"
            viewBox="0 0 408.221 408.221"
            xml:space="preserve"
          >
            <g>
                <g>
                    <path
                        d="M204.11,0C91.388,0,0,91.388,0,204.111c0,112.725,91.388,204.11,204.11,204.11c112.729,0,204.11-91.385,204.11-204.11
            C408.221,91.388,316.839,0,204.11,0z M286.547,229.971l-126.368,72.471c-17.003,9.75-30.781,1.763-30.781-17.834V140.012
            c0-19.602,13.777-27.575,30.781-17.827l126.368,72.466C303.551,204.403,303.551,220.217,286.547,229.971z"
                        fill="#000000"></path>
                </g>
            </g>
          </svg>
        </div>
      </div>
      <div
        class="peakconvertion-fixed-video-video-{{section.id}}"
      >
        {% if section.settings.video == blank %}
          <video
            playsinline="true"
            autoplay="autoplay"
            loop="loop"
            mute="true"
            muted="muted"
            id="peakconvertion-video-content"
            preload="metadata"
            
          >
            <source
              src="https://cdn.shopify.com/videos/c/o/v/e49666d65811447d8935f4b85ef145a8.mp4"
            >
            
          </video>
        {% else %}
          {{
            section.settings.video
            | video_tag: loop: true, muted: true, controls: false, autoplay: true, id: 'peakconvertion-video-content'
          }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function initFixedVideo() {
      if (document.querySelector('.peakconvertion-fixed-video-inner-{{section.id}}')) {
          document.querySelector('.peakconvertion-fixed-video-inner-{{section.id}}').addEventListener('click', (e) => {
              if (e.target == document.querySelector('.peakconvertion-fixed-video-inner-{{section.id}}')) {
                  document.querySelector('.peakconvertion-fixed-video-close-{{section.id}}').classList.add('active');
                  document.querySelector('.peakconvertion-fixed-video-{{section.id}}').classList.add('active');
                  document.getElementById('peakconvertion-video-content').classList.add('active');
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} video')) {
                      document.querySelector('.peakconvertion-fixed-video-{{section.id}} video').muted = false;
                      document.querySelector('.peakconvertion-fixed-video-{{section.id}} video').play();
                  }
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} iframe')) {
                      let frame = document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}} iframe');
                      frame.src = frame.src.replace(/mute=1/g, "");
                  }
              }
          })
      }
      if (document.querySelector('.peakconvertion-fixed-video-close-{{section.id}}')) {
          document.querySelector('.peakconvertion-fixed-video-close-{{section.id}}').addEventListener('click', () => {
              if (document.querySelector('.peakconvertion-fixed-video-close-{{section.id}}').classList.contains('active')) {
                  document.querySelector('.peakconvertion-fixed-video-close-{{section.id}}').classList.remove('active');
                  document.querySelector('.peakconvertion-fixed-video-{{section.id}}').classList.remove('active');
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} video')) {
                      document.querySelector('.peakconvertion-fixed-video-{{section.id}} video').muted = true;
                      document.querySelector('.peakconvertion-fixed-video-{{section.id}} video').play();
                  }
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} iframe')) {
                      let frame = document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}} iframe');
                      if (frame.src.includes("youtube")) {
                          frame.src += "&mute=1";
                      }
                      if (frame.src.includes("vimeo")) {
                          frame.src += "&mute=1";
                      }
                  }

                  let btn = document.querySelector('.peakconvertion-fixed-video-btn-wrapper-{{section.id}}');
                  if (btn) {
                      btn.classList.remove('active');
                  }
              } else {
                  document.querySelector('.peakconvertion-fixed-video-{{section.id}}').classList.add('video-hide');
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} video')) {
                      document.querySelector('.peakconvertion-fixed-video-{{section.id}} video').pause();
                  }
                  if (document.querySelector('.peakconvertion-fixed-video-{{section.id}} iframe')) {
                      let frame = document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}} iframe');
                      if (frame.src.includes("youtube")) {
                          frame.src = "https://www.youtube.com/embed/43399112098121?enablejsapi=1";
                      }
                      if (frame.src.includes("vimeo")) {
                          frame.src = "https://player.vimeo.com/video/43399112098121";
                      }
                  }
              }
          })
      }

      if (document.querySelector('.peakconvertion-fixed-video-video-{{section.id}}')) {
          let video = document.querySelector('.peakconvertion-fixed-video-{{section.id}} video');
          let wrapper = document.querySelector('.peakconvertion-fixed-video-video-{{section.id}}');
          let btn = document.querySelector('.peakconvertion-fixed-video-btn-wrapper-{{section.id}}');
          wrapper.addEventListener('click', () => {
              video.pause();
              btn.classList.add('active');
          })
      }

      if (document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}}')) {
          let video = document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}}');
          let frame = document.querySelector('.peakconvertion-fixed-video-frame-{{section.id}} iframe');
          let btn = document.querySelector('.peakconvertion-fixed-video-btn-wrapper-{{section.id}}');
          video.addEventListener('click', () => {
              frame.src = frame.src.replace(/&autoplay=0/g, '');
              frame.src = frame.src.replace(/&autoplay=1/g, '');
              btn.classList.add('active');
          })
      }
      if (document.querySelector('.peakconvertion-fixed-video-btn-wrapper-{{section.id}}')) {
          let video = document.querySelector('.peakconvertion-fixed-video-{{section.id}} video');
          let videoFrame = document.querySelector('.peakconvertion-fixed-video-{{section.id}} iframe');
          let btn = document.querySelector('.peakconvertion-fixed-video-btn-wrapper-{{section.id}}');
          btn.addEventListener('click', () => {
              if (video) {
                  video.muted = true;
                  video.play();
                  video.muted = false;

              }
              if (videoFrame) {
                  videoFrame.src += "&autoplay=1";
              }
              btn.classList.remove('active');
          })
      }
  }

  document.addEventListener('DOMContentLoaded', initFixedVideo);
</script>

{% schema %}
{
  "name": "PC PopUp video #1",
  "settings": [
  {
    "type": "header",
    "content": "This section is a property of PeakConversion",
    "info": "Do not sell or reproduce. contact us at franklinjounda@gmail.com for more info - please save to see all changes"
  },  
  {
    "type": "header",
    "content": "Heading"
  },
  {
    "type": "text",
    "id": "heading_content",
    "label": "Heading",
    "default":"PRESENTATION PRODUIT"
  },
  {
    "type": "range",
    "id": "heading_size",
    "label": "Heading Size",
    "default":18,
    "min": 10,
    "max": 50,
    "step": 1,
    "unit": "px"
  },

  {
    "type": "range",
    "id": "heading_weight",
    "label": "Heading weight",
    "default":700,
    "min": 100,
    "max": 900,
    "step": 100,
  },
  {
    "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default":"#ffffff"
    },
  {
    "type": "range",
    "id": "heading_mt",
    "label": "Heading Margin Top",
    "default":0,
    "min": 0,
    "max": 30,
    "step": 1,
    "unit": "px"
  },
  {
    "type": "range",
    "id": "heading_mb",
    "label": "Heading Margin Bottom",
    "default":0,
    "min": 0,
    "max": 30,
    "step": 1,
    "unit": "px"
  },

  {
    "type": "header",
    "content": "Button",
  },
  {
    "type": "range",
    "id":"btn_width",
    "label": "Button Width",
    "default": 100,
    "min": 30,
    "max": 100,
    "step": 1,
    "unit": "%"
  },
    {
    "type": "range",
    "id":"btn_mt",
    "label": "Button Margin Top",
    "default": 12,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
    {
    "type": "range",
    "id":"btn_mb",
    "label": "Button Margin Bottom",
    "default": 0,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
        {
    "type": "text",
    "id":"btn_text",
    "label": "Button Text",
    "default": "DÉCOUVRIR"
  },
    {
    "type": "range",
    "id":"btn_text_size",
    "label": "Button Text Size",
    "default": 14,
    "min": 10,
    "max": 50,
    "step": 1,
      "unit": "px"
  },
    {
    "type": "range",
    "id":"btn_text_weight",
    "label": "Button Text Weight",
    "default": 700,
    "min": 100,
    "max": 900,
    "step": 100
  },
           {
    "type": "color",
    "id":"btn_text_color",
    "label": "Button Text Color",
    "default": "#ffffff"
  },
      {
    "type": "range",
    "id":"btn_pl",
    "label": "Button Padding Left",
    "default": 12,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
    {
    "type": "range",
    "id":"btn_pr",
    "label": "Button Padding Right",
    "default": 12,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
      {
    "type": "range",
    "id":"btn_radius",
    "label": "Button Border Radius",
    "default": 8,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
    {
      "type": "color",
      "id":"btn_backg",
      "label":"Button Background",
      "default":"transparent"
    },
      {
      "type": "select",
      "id": "btn_border_type",
      "label": "Button Border Type",
         "default":"solid",
      "options": [
        {
          "label": "Solid",
          "value": "solid"
        },
        {
          "label": "Dotted",
          "value": "dotted"
        },
        {
          "label": "Dashed",
          "value": "dashed"
        },
        {
          "label": "Double",
          "value": "double"
        },
        {
          "label": "Groove",
          "value": "groove"
        },
        {
          "label": "Inset",
          "value": "inset"
        },
        {
          "label": "Outset",
          "value": "outset"
        },
        {
          "label": "Ridge",
          "value": "ridge"
        },
        {
          "label": "None",
          "value": "none"
        },
      ]
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "label": "Button Border Color",
      "default":"#ffffff"
    },
    {
      "type": "range",
      "id": "btn_border_width",
      "label": "Button Border width",
      "default":1,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Media",
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
        {
      "type": "header",
      "content": "Layout",
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Section Width",
      "default":150,
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_height",
      "label": "Section Height",
      "default":200,
      "min": 100,
      "max": 600,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_radius",
      "label": "Border radius",
      "default":8,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "section_border_type",
      "label": "Border Type",
         "default":"solid",
      "options": [
        {
          "label": "Solid",
          "value": "solid"
        },
        {
          "label": "Dotted",
          "value": "dotted"
        },
        {
          "label": "Dashed",
          "value": "dashed"
        },
        {
          "label": "Double",
          "value": "double"
        },
        {
          "label": "Groove",
          "value": "groove"
        },
        {
          "label": "Inset",
          "value": "inset"
        },
        {
          "label": "Outset",
          "value": "outset"
        },
        {
          "label": "Ridge",
          "value": "ridge"
        },
        {
          "label": "None",
          "value": "none"
        },
      ]
    },
    {
      "type": "color",
      "id": "section_border_color",
      "label": "Border Color",
      "default":"#F58B1C"
    },
    {
      "type": "range",
      "id": "section_border_width",
      "label": "Border width",
      "default":2,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px"
    },

  ],
  "presets": [
    {
      "name": "PC PopUp video #1"
    }
  ]
}
{% endschema %}